################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ksiegarnia/.vs
/Ksiegarnia/Domain/obj
/Ksiegarnia/Domain/.vs
