body {
  margin: 0;
}

#root{
  min-height: 100vh;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 50px;
  background-color: white;
}

a{
  text-decoration: none !important;
}

.pointer:hover{
  cursor: pointer;
}

.maximixed-img{
  width: 80%;
  height: auto;
}

.links-panel > a:hover{
  color: #EB4B36;
}